h1 {
  text-align: center;
  font-size: 54px;
}
h2 {
  text-align: center;
}
table {
  border: solid;
  border-color: black;
  background-color: gainsboro;
  margin: 0 auto;
  width: 85%;
}
thead {
  background-color: darkcyan;
  font-weight: bold;
  font-size: 20px;
}
td {
  border-top: solid 1px;
  border-color: slategray;
  padding: 4px;
}
.code {
  font-family: monospace;
  text-align: center;
  background-color: ghostwhite;
}
.name {
  font-weight: bold;
}
p {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}
